<div id="content" class="<%= show_content_classes %>">
  <%= render_document_main_content_partial %>
</div>

<!-- ERJ 9/9/2021 suppress sidebar-->
<!--
<div id="sidebar" class="<%= show_sidebar_classes %>">
   <%#= render_document_sidebar_partial %>
</div>
-->
