<div id="content" class="<%= show_content_classes %>">
  <%= render_document_main_content_partial %>
  <h4>Link to Object Facets (TODO)</h4>
  <h4>Subject of works</h4>
  <%= render_subject_of_works_loc(@document) %>
</div>

<!-- ERJ 9/9/2021 suppress sidebar-->
<!--
<div id="sidebar" class="<%= show_sidebar_classes %>">
   <%#= render_document_sidebar_partial %>
</div>
-->
