<div  class="menu-bar menu-bar--default ">
  <div class="menu-bar__sticky-container">
    <div class="menu-bar__outer-constrainer">
      <div class="menu-bar__inner-constrainer">
        <div class="menu-bar__grid-container">
          <div class="menu-bar__wrapper">
            <span class="menu-bar__content">



  <span  class="button button--clean menu-bar__button menu-bar__button--menu  " >



<span id="ycbahomelink" onclick="location.href='https://britishart.yale.edu';"/>
    <span class="button__icon button__icon--before">

     <!-- <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80">
    <polygon points="12.75 23.75 12.75 22.25 68.549 22.25 68.549 23.75"/>
    <polygon points="12.75 40.75 12.75 39.25 68.549 39.25 68.549 40.75"/>
    <polygon points="12.75 57.75 12.75 56.25 68.549 56.25 68.549 57.75"/>-->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
  <g fill="currentColor" fill-rule="nonzero">
    <path d="M26,8.99999998 L5.99999997,8.99999998 L26,8.99999998 Z M27,7.99999998 L27,9.99999998 L4.99999997,9.99999998 L4.99999997,7.99999998 L27,7.99999998 Z"/>
    <path d="M26,16 L5.99999997,16 L26,16 Z M27,15 L27,17 L4.99999997,17 L4.99999997,15 L27,15 Z"/>
    <path d="M26,23 L5.99999997,23 L26,23 Z M27,22 L27,24 L4.99999997,24 L4.99999997,22 L27,22 Z"/>
  </g>
</svg>

    </span>

    <span class="button__span">YCBA Home</span>

  </span>
            </span>




              <a class="logo logo--horizontal menu-bar__logo" href="/">
                <svg class="logo__svg" x="0" y="0" width="611" height="18" viewBox="0 0 611 18" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Yale Center for British Art</title>

                  <defs>
                    <g id="logo--horizontal" class="name" fill="currentColor">
                      <g>
                        <path d="M15.526 1.286l-5.071 6.759-5.141-6.759H0l8.322 10.231V18h4.099v-6.458l8.15-10.256z"/>
                        <path d="M32.01 1.286h3.998L45 18h-4.924l-1.973-4.034h-8.285L27.821 18h-4.678L32.01 1.286zm1.998 4.287l-2.63 5.27h5.19l-2.56-5.27z"/>
                        <path d="M52.714 1.286V18h12.857v-3.684h-9.152V1.286z"/>
                        <path d="M75.857 1.286V18h15.429v-3.728H80.142v-3.333h9.58V7.834h-9.58v-2.96h10.867V1.286z"/>
                        <path d="M131.644 14.973c-1.35 1.67-4.243 3.002-7.91 3.002-5.834 0-10.464-3.216-10.464-8.911 0-5.128 3.738-8.843 10.923-8.843 3.738 0 6.535 1.361 7.548 2.742l-2.58 3.1c-1.18-1.43-2.917-2.101-5.427-2.101-3.929 0-6.246 2.027-6.246 5.102 0 3.027 2.414 5.078 6.246 5.078 2.341 0 4.197-.525 5.33-2.077l2.58 2.908z"/>
                        <path d="M140.884 17.593V.51h14.495v3.667h-10.394v3.027h9.164v3.172h-9.164v3.408h10.659v3.809z"/>
                        <path d="M178.248 17.593l-9.332-10.415v10.415h-4.028V.51h4.125l9.188 11.007V.51h4.004v17.083z"/>
                        <path d="M196.917 17.593V4.201h-6.22V.51h16.566v3.691h-6.221v13.392z"/>
                        <path d="M215.832 17.593V.51h14.495v3.667h-10.395v3.027h9.164v3.172h-9.164v3.408h10.66v3.809z"/>
                        <path d="M252.836 17.594l-3.954-5.72h-4.944v5.72h-4.1V.51h9.621c4.897 0 6.417 2.501 6.417 5.67 0 2.261-1.182 4.03-3.233 4.72l5.138 6.694h-4.945zM243.938 4.2v4.315h5.21c1.253 0 2.675-.359 2.675-2.218 0-1.715-1.422-2.097-2.675-2.097h-5.21z"/>
                      </g>

                      <g>
                        <path d="M284.232 11.09v6.503h-4.1V.51h14.399v3.691h-10.299v3.482h9.092v3.407z"/>
                        <path d="M313.08 18c-5.834 0-10.391-3.408-10.391-8.72 0-5.319 4.146-9.059 10.391-9.059 6.102 0 10.493 3.74 10.493 9.06 0 5.311-4.39 8.719-10.493 8.719zm0-13.965c-3.52 0-6.22 1.978-6.22 5.245 0 3.265 2.75 4.98 6.22 4.98 3.57 0 6.224-1.715 6.224-4.98 0-3.267-2.606-5.245-6.224-5.245z"/>
                        <path d="M345.858 17.594l-3.953-5.72h-4.945v5.72h-4.1V.51h9.622c4.898 0 6.416 2.501 6.416 5.67 0 2.261-1.181 4.03-3.232 4.72l5.137 6.694h-4.945zM336.96 4.2v4.315h5.21c1.254 0 2.676-.359 2.676-2.218 0-1.715-1.422-2.097-2.676-2.097h-5.21z"/>
                      </g>

                      <g>
                        <path d="M373.155 17.593V.51h8.056c4.219 0 6.944 1.454 6.944 4.79 0 1.522-.749 2.55-1.687 3 1.421.43 2.844 1.694 2.844 3.98 0 3.55-2.58 5.313-6.655 5.313h-9.502zm4.099-7.432v3.667h5.354c1.785 0 2.703-.567 2.703-1.787 0-1.19-.895-1.88-2.363-1.88h-5.694zm0-5.96v3.193h4.777c1.615 0 2.12-.784 2.12-1.69 0-.906-.505-1.503-2.17-1.503h-4.727z"/>
                        <path d="M411.362 17.594l-3.953-5.72h-4.945v5.72h-4.1V.51h9.621c4.897 0 6.418 2.501 6.418 5.67 0 2.261-1.183 4.03-3.234 4.72l5.138 6.694h-4.945zM402.464 4.2v4.315h5.21c1.253 0 2.675-.359 2.675-2.218 0-1.715-1.422-2.097-2.675-2.097h-5.21z"/>
                        <path d="M424.774 17.594h4.1V.51h-4.1z"/>
                        <path d="M443.769 17.593V4.201h-6.22V.51h16.565v3.691h-6.221v13.392z"/>
                        <path d="M462.777 17.594h4.1V.51h-4.1z"/>
                        <path d="M488.5 5.49c-1.303-1.146-3.133-1.696-4.846-1.696-.895 0-3.04.1-3.04 1.406 0 2.91 10.78 1.005 10.78 7.58 0 4.197-4.197 5.22-7.571 5.22-2.894 0-6.249-.808-8.008-3.266l2.966-2.718c1.135 1.744 3.233 2.385 5.257 2.385 1.231 0 3.305-.069 3.305-1.547 0-2.835-10.876-1.313-10.876-7.316 0-4.03 4.026-5.317 7.235-5.317 2.435 0 5.112.407 7.089 1.954l-2.29 3.314z"/>
                        <path d="M513.08 17.593v-6.86h-8.465v6.86h-4.1V.51h4.1v6.312h8.465V.51h4.1v17.083z"/>
                      </g>

                      <g>
                        <path d="M556.292 17.593l-1.952-4.122h-8.2l-1.976 4.122h-4.63L548.31.51h3.957l8.898 17.083h-4.873zm-6.004-12.7l-2.604 5.386h5.138l-2.534-5.387z"/>
                        <path d="M582.537 17.594l-3.952-5.72h-4.946v5.72h-4.1V.51h9.622c4.896 0 6.416 2.501 6.416 5.67 0 2.261-1.182 4.03-3.232 4.72l5.138 6.694h-4.946zM573.64 4.2v4.315h5.21c1.253 0 2.675-.359 2.675-2.218 0-1.715-1.422-2.097-2.675-2.097h-5.21z"/>
                        <path d="M600.053 17.593V4.201h-6.221V.51h16.566v3.691h-6.221v13.392z"/>
                      </g>
                    </g>
                  </defs>

                  <use xlink:href="#logo--horizontal" x="0" y="0" fill="currentColor"/>
                </svg>
              </a>




              <a class="logo logo--vertical menu-bar__logo" href="/">
                <svg class="logo__svg" x="0" y="0" width="80" height="92" viewBox="0 0 80 92" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Yale Center for British Art</title>

                  <defs>
                    <g id="logo--vertical" class="name" fill="currentColor">
                      <g>
                        <path d="M8.492 0L5.716 3.846 2.905 0H-.001l4.552 5.822v3.689h2.242V5.837L11.251 0z"/>
                        <path d="M17.451 0l-4.828 9.511h2.546l1.088-2.295h4.511l1.075 2.295h2.681L19.628.001h-2.177zm1.088 2.441l1.393 2.998h-2.826l1.433-2.998z"/>
                        <path d="M29.13 0v9.511h7.829V7.413h-5.574V0z"/>
                        <path d="M41.739 0v9.511h8.121V7.39h-5.866V5.494h5.044V3.726h-5.044V2.04h5.721V0z"/>
                        <path d="M10.244 30.04c-.742.93-2.334 1.671-4.351 1.671-3.211 0-5.757-1.79-5.757-4.96 0-2.857 2.056-4.925 6.008-4.925 2.058 0 3.596.758 4.154 1.527l-1.42 1.725c-.65-.795-1.604-1.17-2.985-1.17-2.162 0-3.436 1.13-3.436 2.842 0 1.684 1.328 2.826 3.436 2.826 1.288 0 2.309-.29 2.933-1.156l1.418 1.62z"/>
                        <path d="M15.33 31.498v-9.512h7.975v2.041h-5.721v1.686h5.042v1.767h-5.042v1.897h5.865v2.121z"/>
                        <path d="M35.884 31.498l-5.133-5.799v5.799h-2.217v-9.512h2.27l5.056 6.129v-6.129h2.202v9.512z"/>
                        <path d="M46.157 31.498v-7.455h-3.423v-2.057h9.115v2.057h-3.423v7.455z"/>
                        <path d="M56.563 31.498v-9.512h7.975v2.041h-5.719v1.686h5.042v1.767h-5.042v1.897h5.865v2.121z"/>
                        <path d="M72.026 24.043v2.4h2.867c.69 0 1.472-.199 1.472-1.234 0-.955-.782-1.166-1.472-1.166h-2.867zm4.896 7.455l-2.174-3.184h-2.722v3.184H69.77v-9.512h5.294c2.693 0 3.529 1.393 3.529 3.157 0 1.259-.65 2.244-1.778 2.629l2.827 3.726h-2.721z"/>
                      </g>

                      <g>
                        <path d="M2.257 47.825v3.62H0v-9.511h7.923v2.056H2.257v1.939h5.002v1.896z"/>
                        <path d="M18.128 43.898c-1.937 0-3.423 1.101-3.423 2.92 0 1.818 1.514 2.77 3.423 2.77 1.965 0 3.424-.952 3.424-2.77s-1.434-2.92-3.424-2.92m0 7.774c-3.21 0-5.718-1.897-5.718-4.854 0-2.961 2.282-5.043 5.718-5.043 3.357 0 5.772 2.082 5.772 5.043 0 2.957-2.415 4.855-5.772 4.855"/>
                        <path d="M31.267 43.99v2.401h2.866c.69 0 1.472-.199 1.472-1.234 0-.955-.782-1.167-1.472-1.167h-2.866zm4.896 7.455l-2.176-3.184h-2.72v3.184H29.01v-9.51h5.294c2.695 0 3.53 1.392 3.53 3.156 0 1.26-.65 2.244-1.778 2.628l2.827 3.726h-2.72z"/>
                      </g>

                      <g>
                        <path d="M2.256 67.27v2.04H5.2c.983 0 1.488-.313 1.488-.993 0-.662-.493-1.047-1.301-1.047H2.256zm0-3.318v1.777h2.628c.888 0 1.166-.436 1.166-.94 0-.505-.278-.837-1.193-.837H2.256zM0 71.407v-9.51h4.433c2.32 0 3.82.81 3.82 2.666 0 .848-.412 1.42-.93 1.672.785.24 1.567.94 1.567 2.215 0 1.976-1.42 2.957-3.661 2.957h-5.23z"/>
                        <path d="M16.126 63.951v2.402h2.866c.69 0 1.473-.199 1.473-1.234 0-.955-.783-1.168-1.473-1.168h-2.866zm4.896 7.455l-2.176-3.184h-2.72v3.184H13.87v-9.51h5.294c2.693 0 3.529 1.393 3.529 3.157 0 1.26-.649 2.244-1.778 2.628l2.827 3.725h-2.72z"/>
                        <path d="M28.4 71.407h2.256v-9.51H28.4z"/>
                        <path d="M38.85 71.406v-7.455h-3.422v-2.055h9.115v2.055h-3.422v7.455z"/>
                        <path d="M49.309 71.407h2.256v-9.51h-2.256z"/>
                        <path d="M63.46 64.668c-.716-.637-1.724-.943-2.665-.943-.492 0-1.673.054-1.673.783 0 1.619 5.93.558 5.93 4.221 0 2.335-2.308 2.906-4.164 2.906-1.592 0-3.44-.451-4.406-1.819l1.63-1.513c.626.97 1.78 1.328 2.894 1.328.678 0 1.818-.039 1.818-.861 0-1.579-5.983-.731-5.983-4.075 0-2.242 2.215-2.959 3.979-2.959 1.34 0 2.814.225 3.9 1.086l-1.26 1.846z"/>
                        <path d="M76.984 71.406v-3.818h-4.657v3.818h-2.256v-9.51h2.256v3.514h4.657v-3.514h2.256v9.51z"/>
                      </g>

                      <g>
                        <path d="M5.916 84.14l-1.433 2.999h2.828l-1.395-3zm3.304 7.07l-1.075-2.295h-4.51L2.547 91.21H0l4.828-9.51h2.177l4.895 9.51H9.22z"/>
                        <path d="M18.764 83.755v2.4h2.866c.69 0 1.472-.198 1.472-1.233 0-.955-.782-1.167-1.472-1.167h-2.866zm4.896 7.455l-2.175-3.184h-2.721v3.184h-2.256v-9.511h5.294c2.693 0 3.53 1.393 3.53 3.157 0 1.259-.65 2.244-1.78 2.628l2.828 3.726h-2.72z"/>
                        <path d="M33.296 91.21v-7.455h-3.422v-2.056h9.113v2.056h-3.421v7.455z"/>
                      </g>
                    </g>
                  </defs>

                  <use xlink:href="#logo--vertical" x="0" y="0" fill="currentColor"/>
                </svg>
              </a>




              <span  class="button button--clean menu-bar__button menu-bar__button--search  " >


<!--remove Search-->
<!--

    <span class="button__span">Search</span>




    <span class="button__icon button__icon--after">

      <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewBox="0 0 80 80">
    <path d="M35 56.75c-11.46 0-20.75-9.29-20.75-20.75S23.54 15.25 35 15.25 55.75 24.54 55.75 36 46.46 56.75 35 56.75zm0-1.5c10.631 0 19.25-8.619 19.25-19.25S45.631 16.75 35 16.75 15.75 25.369 15.75 36 24.369 55.25 35 55.25z"/>
    <polygon points="49.439 49.5 50.5 48.439 65.276 63.216 64.216 64.276"/>
</svg>

    </span>


  </span>-->

            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="search-navbar" class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="<%= container_classes %>">
    <%= render_search_bar  %>
    <div class="collapse navbar-collapse" id="user-util-collapse">
      <%= render :partial=>'/user_util_links' %>
    </div>
    <button type="button" class="navbar-toggle btn collapsed" data-toggle="collapse" data-target="#user-util-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
</div>