<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to example.com, <%= @user %></h1>
<p>
  Here is th record you saved: <%= @record_id %>.<br>
</p>
<p>
  Here is your serialized document for overkill.
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>