<div id="ycba-downloads" class="col-xs-12" align="center">
  <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#downloadModal">
    Download Selected Image
  </button>
</div>
<div class="modal fade" id="downloadModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Download Selected Image</h4>
      </div>
      <div id="download-details" class="modal-body">
        <!--jquery content here-->
        <% if copyrighted?(document) %>
          <div class="row">
            <div class="col-xs-12"><%= document["ort_ss"][0].to_s %></div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-xs-12">
            <% if document["rights_ss"] && document["rights_ss"][0].to_s == "unknown" %>
              <span>See <a target="_blank" href="http://hdl.handle.net/10079/c59zwbm">Terms of Use for Photographic Images of Works Requiring Further Research</a> for more information.</span>
            <% end %>
            <% if document["rights_ss"] && document["rights_ss"][0].to_s == "public domain" %>
              <span>See <a target="_blank" href="http://hdl.handle.net/10079/w6m90dq">Using Images of Works in the Public Domain</a> for more information.</span>
            <% end %>
            <% if document["rights_ss"] && (document["rights_ss"][0].to_s == "under copyright" || document["rights_ss"][0].to_s == "rights reserved") %>
              <span>See <a target="_blank" href="http://hdl.handle.net/10079/rfj6qd5">Terms of Use for Photographic Images of Works under Copyright</a> for more information.</span>
            <% end %>
          </div>
        </div>
        </br>
        <div class="row">
          <div id="jpeg-container" class="col-xs-1">
            <button id="jpeg-dl-button" type="button" class="btn btn-primary btn-sm">JPEG</button>
          </div>
          <div id="jpeg-dl-info" class="col-xs-11"></div>
        </div>
        </br>
        <div class="row">
          <div id="tiff-container" class="col-xs-1">
            <button id="tiff-dl-button" type="button" class="btn btn-primary btn-sm">TIFF</button>
          </div>
          <div id="tiff-dl-info" class="col-xs-11"></div>
        </div>
        </br>
        <div class="row">
          <div id="caption-container" style="text-decoration: underline;" class="col-xs-2">
            <!--<button id="caption-dl-button" type="button" class="btn btn-primary btn-sm">Caption</button>-->
            Caption
          </div>
        </div>
        </br>
        <div id="caption-row" class="row">
          <div id="caption-dl-info" class="col-xs-12">
            <% if marc_field?(document) %>
              <%#= get_marc_caption(document) %><!--get from cds caption, not best source-->
              <%= concat_caption(document) %>
            <% else %>
              <%= concat_caption(document) %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Submit</button>-->
      </div>
    </div>
  </div>
</div>