<div>
  <!--<p>Enter an item to search, and/or use the facets.</p>-->
  <!--<img id="splash-image" alt="Home Page Image" src="assets/ba-arc-20160328-2003-dsp.jpg"/>-->
  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="4000">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="catalog/tms:34">
          <img id="splash-image" src="assets/splash_images/ba-obj-34-0007-pub.jpg" alt="Home Page Image 1">
          <div class="carousel-caption">
            <p>Joseph Mallord William Turner, Dort or Dordrecht: The Dort packet-boat from Rotterdam becalmed, 1818</p>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="catalog/tms:414">
          <img id="splash-image" src="assets/splash_images/ba-obj-414-0004-pub.jpg" alt="Home Page Image 2">
          <div class="carousel-caption">
            <p>Samuel Palmer ,The Harvest Moon, ca. 1833</p>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="catalog/tms:1511">
          <img id="splash-image" src="assets/splash_images/ba-obj-1511-0001-pub.jpg" alt="Home Page Image 3">
          <div class="carousel-caption">
            <p>Dame (Jocelyn) Barbara Hepworth, Four Rectangles with Four Oblique Circles, 1966</p>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="catalog/tms:5057">
          <img id="splash-image" src="assets/splash_images/ba-obj-5057-0001-pub.jpg" alt="Home Page Image 4">
          <div class="carousel-caption">
            <p>Ben Nicholson, May 1955 (Gwithian), 1955</p>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="catalog/tms:10761">
          <img id="splash-image" src="assets/splash_images/ba-obj-10761-0001-pub.jpg" alt="Home Page Image 5">
          <div class="carousel-caption">
            <p>John Frederick Lewis, A Frank Encampment in the Desert of Mount Sinai. 1842 - The Convent of St. Catherine in the Distance, 1856</p>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="catalog/tms:52309">
          <img id="splash-image" src="assets/splash_images/ba-obj-52309-0001-pub.jpg" alt="Home Page Image 6">
          <div class="carousel-caption">
            <p>Paul Sandby, RA A View of Vinters at Boxley, Kent, with Mr. Whatman's Turkey Paper Mills, 1794</p>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="catalog/tms:74636">
          <img id="splash-image" src="assets/splash_images/ba-obj-74636-0001-pub.jpg" alt="Home Page Image 7">
          <div class="carousel-caption">
            <p>William Henry Fox Talbot, The Building of Nelson’s Column ca., 1843</p>
          </div>
        </a>
      </div>

      <div class="item">
        <a href="catalog/orbis:9452785">
          <img id="splash-image" src="assets/splash_images/ba-orb-9452785-0022-pub.jpg" alt="Home Page Image 8">
          <div class="carousel-caption">
            <p>Helmingham herbal and bestiary</p>
          </div>
        </a>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>