
<!--https://github.com/UniversalViewer/universalviewer/wiki/Embedding-->
<%= @document[:iiif_manifest_s] %>
<%= @document[:recordID_facet][0] %>
<% manifest = "http://manifests.britishart.yale.edu/manifest/" + @document[:recordID_facet][0] %>
<%= manifest %>
<div class="uv"
     data-locale="en-GB:English (GB),cy-GB:Cymraeg"
     data-config="/config.json"
     data-uri="http://manifests.britishart.yale.edu/manifest/767"
     data-collectionindex="0"
     data-manifestindex="0"
     data-sequenceindex="0"
     data-canvasindex="0"
     data-zoom="-1.0064,0,3.0128,1.3791"
     data-rotation="0"
     style="width:384px;height:233px; background-color: #000">
</div>
<script type="text/javascript" id="embedUV" src="http://universalviewer.io/uv/lib/embed.js"></script><script type="text/javascript">/* wordpress fix */</script>

